.projets {
  width: 100%;
  background-color: var(--light);
}

.projets .title {
  text-align: center;
  margin-top: 100px;
  padding: 0 3%;
}

.projets .title h1 {
  font-size: 28px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
}

.projets .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 50px 5%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.projets .cards .case-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: start;
  width: 100%;
  height: 65vh;
}

.projets .cards .case-1 .imgbox-1 {
  width: 100%;
  height: 100%;
  background-image: url("../images/shoppeur.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projets .cards .case-1 .imgbox-2 {
  width: 100%;
  height: 100%;
  background-image: url("../images/booki.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projets .cards .case-1 h1 {
  font-style: italic;
  padding-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
}

.projets .cards .case-1 .text-1 {
  color: black;
  padding-top: 5px;
  font-weight: 300;
  padding-bottom: 10px;
}

.projets .cards .case-1 .text-2 {
  color: #0062ff;
  padding-top: 5px;
  font-weight: 300;
  padding-bottom: 20px;
}

.projets .cards .case-1 a {
  display: inline-block;
  font-size: 16px;
  border-bottom: 1px black solid;
  margin-bottom: 20px;
}

.projets .projets-btn {
  text-align: center;
  padding: 0 5%;
}

.projets .projets-btn h1 {
  font-style: italic;
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
}

.projets .projets-btn a {
  display: inline-block;
  padding: 15px 40px;
  color: white;
  background-color: black;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  margin-bottom: 60px;
}

.projets .projets-btn a:hover {
  background-color: rgba(41, 41, 41, 0.9);
}

@media screen and (max-width: 850px) {
  .projets .cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .projets .projets-btn a {
    font-size: 14px;
  }
}

footer {
  background-color: #e1e7eb;
  padding: 100px 5%;
}

footer .footer-container {
  width: 100%;
  height: 100%;
}

footer .footer-container .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: 1px #4e4e4e solid;
  padding-bottom: 50px;
}

footer .footer-container .footer-socials .footer-s-list li {
  display: inline-block;
  padding: 0 20px;
  font-size: 20px;
}

footer .footer-container .footer-content {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .footer-container .footer-content a {
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
}

footer .footer-container .footer-content a:hover {
  text-decoration: underline;
}

footer .footer-container .footer-content p {
  font-size: 15px;
}

@media screen and (max-width: 850px) {
  footer .footer-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  footer .footer-content a {
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */