/* Navbar */

@media screen and (min-width: 2000px) {
    body {
        max-width: 2000px;
        margin: 0 auto;
    }

    header,
    .subheader {
        max-width: 2000px;
    }
}

@media screen and (max-width: 768px) {
    .logo,
    .header-btn {
        display: none;
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 1000;
        // transition: all 400ms ease-in-out;
        padding: 0;

        .header-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: none;
        }

        nav {
            width: 100%;
        }

        .nav-list {
            display: flex;
            width: 100%;

            .nav-active {
                opacity: 1;
            }
        }

        .nav-list li {
            padding: 0;
            margin: 0;
            width: 100%;

            a {
                display: inline-block;
                width: 100%; 
                border-bottom: 3px black solid;
                padding-top: 25px;
                padding-bottom: 25px;
            }
            
            .nav-gray {
                border-bottom: 3px rgb(170, 170, 170) solid;
            }
        }
    }
}


@media screen and (max-width: 400px) {

    .nav-list li {
        display: inline-block;
        padding: 0 10px;

        a {
            font-size: 14px;
        }
    }
}