header {
    position: fixed;
    width: 100%;
    padding: 0 5%;
    z-index: 1000;
    background-color: white;


    .header-container {
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        box-shadow: 0 1px  rgb(0, 0, 0);
        // transition: all 400ms ease-in-out;

        .logo {
            font-size: 30px;
            font-weight: 600;
            font-style: italic;
            color: var(--dark);
        }
        
        .nav-list li {
            display: inline-block;
        
            a {
                position: relative;
                display: inline-block;
                color: var(--dark);
                display: inline-block;
                font-size: 14px;
                // padding: 0 15px;
                transition: all 400ms ease-in-out;
        
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -3px;
                    width: 100%;
                    height: 1px;
                    transform: scaleX(0);
                    transform-origin: left;
                    background-color: var(--dark);
                    transition: transform .2s ease-in-out;
                }
        
                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }

        .header-btn {
            font-size: 14px;
            padding: 10px 20px;
            border: 1px black solid;
            transition: all 400ms;

            &:hover {
                background-color: var(--dark);
                color: var(--light);
            }
        }
    }
}

.nav-list {
    .nav-active {
        opacity: .5;
        margin-right: 15px;
    }

    .nav-gray {
        margin-right: 15px;
    }
}

.subheader {
    position: absolute;
    top: 70px;
    height: 40px;
    width: 100%;

    .container {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: white;

        .list li {
            display: inline-block;
            padding: 0 20px;

            a {
                font-size: 17px;

                i {
                    color: rgb(0, 0, 0);
                }
            }
        }
    }
}