/* Navbar */

@media screen and (max-width: 850px) {
    .logo {
        display: none;
    }

    header {
        height: 50px;
        position: fixed;
        width: 100%;
        z-index: 1000;
        transition: all 400ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
    
    header .header-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 3%;
    }

    .nav-list li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {

    .nav-list li {
        display: inline-block;
        padding: 0 10px;
    }

    .nav-list li a {
        font-size: 14px;
    }
}