header {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 400ms ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 4%;
}

.logo {
    font-size: 30px;
    font-style: italic;
    color: var(--light);
    font-family: 'Caveat', cursive;
}

.nav-list li {
    display: inline-block;
    padding: 0 15px;
}

.nav-list li a {
    position: relative;
    display: inline-block;
    color: var(--light);
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    transition: all .2s ease-in-out;
}

.nav-list a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--light);
    transition: transform .2s ease-in-out;
}

.nav-list a:hover::after {
    transform: scaleX(1);
}

.nav-list .nav-active {
    opacity: .5;
}

.scrolling-active {
    background-color: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}