.biographie {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--light);
}

.biographie-container {
  padding: 20px 30px;
  padding-top: 60px;
  max-width: 1300px;
  margin: 0 auto;
}

.biographie-container .bio-center {
  text-align: center;
}

.bio-center h1 {
  font-size: 80px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 400;
  /* font-family: 'Montez', sans-serif; */
}

.row {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-gap: 40px; */
  width: 100%;
  height: 100%;
  padding: 40px;
}

.right {
  /* padding: 40px; */
  /* display: flex; */
  /* flex-flow: column; */
  align-items: center;
  text-align: center;
}

/* @media screen and (max-width: 850px) {
  .row {
    grid-template-columns: repeat(1, 1fr);
  } 
} */

.big-letter {
  line-height: 50px;
  padding-right: 10px;
  float: left;
  font-size: 60px;
}

.right-content p {
  font-weight: 300;
  text-align: justify;
  padding-bottom: 20px;
}

.right-content .links {
  color: #ae3f3f;
  text-decoration: underline;
}

.bio-button {
  /* display: flex; */
  display: inline-flex;
  position: relative;
  text-align: center;
  align-items: center;
  position: relative;
  color: var(--light);
  background-color: var(--light);
  margin-top: 40px;
  padding: 15px 40px;
  font-weight: 300;
  transition: all 400ms;
  background-color: var(--dark);
}

.bio-button:hover {
  color: var(--light);
  background-color: #2B3044;
  transform: scale(1.03);
}

.bio-button:active {
  transform: scale(0.95);
}