.biographie {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--light);
  padding: 0 5%;
}

.biographie-container {
  padding: 20px 30px;
  padding-top: 60px;
  max-width: 1300px;
  margin: 0 auto;
}

.biographie-container .bio-center {
  text-align: center;
}

.bio-center h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 400;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  padding-top: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.big-letter {
  line-height: 50px;
  padding-right: 10px;
  float: left;
  font-size: 60px;
}

.right-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: justify;
}
.right-content p {
  font-size: 19px;
  text-align: justify;
  padding-bottom: 30px;
}

.right-content .links {
  color: #ae3f3f;
  text-decoration: underline;
}

.bio-button {
  display: inline-block;
  position: relative;
  text-align: center;
  color: var(--light);
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 15px 40px;
  transition: all 400ms;
  background-color: var(--dark);
}

.bio-button:hover {
  background-color: rgba(41, 41, 41, 0.9);
}

.bio-button:active {
  transform: scale(0.95);
}

.test {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/background-bio.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}