.services {
    position: relative;
    width: 100%;
    background-color: #000000;
    padding: 50px 4%;
}

.services-title {
    /* padding-top: 50px; */
    padding-bottom: 50px;
    text-align: center;
}

.services-title h1 {
    font-weight: 600;
    font-size: 48px;
    color: var(--light);
}

.case {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services img {
    height: 150px;
}

.cases h1 {
    color: var(--light);
    font-weight: 400;
}

.cases li {
    display: inline-block;
    padding: 0 20px;
}

@media screen and (max-width: 850px) {
    .cases li {
        display: block;
        /* display: inline-block; */
        padding: 20px 0;
    }

    .services-title h1 {
        font-size: 30px;
        color: var(--light);
    }
}