.biographie {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--light);
  padding: 0 3%;
}

.biographie-title {
  padding: 20px 30px;
  padding-top: 60px;
  max-width: 1300px;
  margin: 0 auto;
}

.biographie-title h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  padding-top: 60px;
  max-width: 1000px;
  margin: 0 auto;
}

.big-letter {
  line-height: 50px;
  padding-right: 10px;
  float: left;
  font-size: 60px;
}

.right-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.right-content p {
  font-size: 17px;
  text-align: start;
  padding-bottom: 30px;
  letter-spacing: .012em;
  color: #1f1f1f;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif; */
}

.right-content .links {
  color: #ae3f3f;
  text-decoration: underline;
}

.bio-button {
  display: inline-block;
  position: relative;
  text-align: center;
  color: var(--light);
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 15px 40px;
  transition: all 400ms;
  background-color: var(--dark);
}

.bio-button:hover {
  background-color: rgba(41, 41, 41, 0.9);
}

.bio-button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 850px) {

  .bio-center h1 {
    font-size: 50px;
    font-weight: 500;
  }

  .bio-button {
    display: inline-block;
    position: relative;
    text-align: center;
    color: var(--light);
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 15px 40px;
    transition: all 400ms;
    background-color: var(--dark);
  }
}