.home {
    height: 100%;
    width: 100%;
    padding: 0 5%;
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(/assets/images/background-home-projets.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.home-text-content {
    text-align: center;
    transition: all .2s ease-in-out;
}

.home-text-content h1 {
    font-size: 90px;
    color: var(--light);
    font-family: 'PT Serif', sans-serif;
}

.home-text-content p {
    color: var(--light);
    margin-top: 30px;
}

.home-text-content a {
    color: var(--red);
    text-decoration: underline;
}

.home-button {
    position: absolute;
    bottom: 50px;
    border: 1px var(--light) solid;
    color: var(--light);
    padding: 15px;
    margin-top: 40px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.home-button:hover {
    color: var(--dark);
    transform: scale(1.06);
    background-color: var(--light);
}

.socials {
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 0 1%;
}

.socials-list li {
    padding: 20px 0;
}

.socials-list li i {
    font-size: 20px;
    color: var(--light);
    transition: all .2s ease-in-out;
}

.socials-list li i:hover {
    transform: scale(1.15);
    color: var(--red);
}